---
layout: default
---

{% if page.category.columns %}
    {% assign columns = page.category.columns %}
{% else %}
    {% assign columns = 2 %}
{% endif %}

<script>
  var baseUrl = 'https://blockstream.info/api';
  var addressApi = baseUrl + '/address/';
  var transactionApi = baseUrl + '/tx/';

  function analyzeTransactions() {
    var address = document.getElementById('hero-search').value.trim();

    if(address.length == 0) {
      noResults();
      return;
    }

    fetch(addressApi + address + '/txs', {
      method: 'get'
    })
    .then(response => response.json())
    .then(jsonData => {
      console.log("Total transactions "+ jsonData.length);
      if(jsonData.length >= 5) {
        return [jsonData[0], jsonData[2], jsonData[4]];
      } else {
        return jsonData.slice(0, 3); 
      }
    })
    .then(transactions => {
      console.log("Analysing Privacy Issues...... ");
      return transactions.map(getPrivacyAnalysis);
    })
    .then(privacyViolations => {
      const uniqViolations = Array.from(new Set(privacyViolations.flat()));
      console.log("Uniq Violations >>> ");
      console.log(uniqViolations);
      if(uniqViolations.length > 0) {
        uniqViolations.forEach(violation => {
          document
            .querySelectorAll('ul li[data-privacy*="'+ violation +'"]')
            .forEach(e => e.classList.remove('uk-hidden'));
        });
      } else {
        noResults();
      }
    })
  }

  function hideAllPrivacyIssues() {
    document
      .getElementById('uh-oh-address-likely-known-container')
      .querySelectorAll('ul li[data-privacy]')
      .forEach(e => e.classList.add('uk-hidden'));
  }

  function noResults() {
    hideAllPrivacyIssues();
    document.getElementById('uh-oh-address-likely-known-container')
      .getElementsByClassName('all-good uk-hidden')[0]
      .classList.remove('uk-hidden');
  }

function filter(tag) {
  hideAllPrivacyIssues();
  if(tag == "uh-oh-address-likely-known")
    analyzeTransactions();
  setActiveTag(tag);
  showContainer(tag);
}

function setActiveTag(id) {
  // loop through all items and remove active class
  var items = document.getElementsByClassName('card-category');
  for(var i=0; i < items.length; i++) {
    items[i].classList.remove('uk-card-primary');
    items[i].classList.add('uk-card-default');
  }

  // set the selected id's item to active
  var item = document.getElementById(id + '-card');
  if(item) {
    item.classList.remove('uk-card-default');
    item.classList.add('uk-card-primary');
  }
}

function showContainer(id) {
  // loop through all lists and hide them
  var lists = document.getElementsByClassName('category-container');
  for(var i=0; i < lists.length; i++) {
    lists[i].classList.add('hidden');
  }

  // remove the hidden class from the list corresponding to the selected id
  var list = document.getElementById(id + '-container');
  var section = document.getElementById('category-section');
  if(list) {
    section.classList.remove('hidden');
    list.classList.remove('hidden');
  }

}
</script>

<div class="uk-section uk-section-large uk-background-muted">
    <div class="uk-container">
        {% for section in site.data.navigation_categories %}
            {% if section.heading %}
                <h2 class="uk-text-center section-title section-title-primary">{{ section.heading }}</h2>
            {% endif %}
            <div class="uk-child-width-1-{{ columns }}@m uk-grid-match uk-text-center" data-uk-grid>
            {% for category in section.categories %}
                {% if category.title %}
                {% assign posts = category | last %}
                <div>
                    <div id="{{ category.title | slugify }}-card" class="uk-card uk-card-default uk-card-hover uk-border-rounded uk-card-body uk-inline card-category">
                        <a class="uk-position-cover" href="#{{ category.title | slugify }}-container" data-uk-scroll="duration: 400; offset: 35;" onclick="filter('{{ category.title | slugify }}');"></a>
                        {% if category.icon %}
                        <span data-uk-icon="icon: {{ category.icon }}; ratio: 2" class=""></span>
                        {% endif %}
                        <h3 class="uk-card-title uk-margin">{{ category.title }}</h3>
                        {% if category.desc %}
                        <p>{{ category.desc }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="uk-section uk-section-large uk-section-default">
    <div class="uk-container uk-container-small">
		
        <div class="uk-article-content">{{ content }}</div>
        
        {% if page.featured.tag %}
        <div>
            {% if page.featured.title %}
            <h2 class="section-title-primary">{{ page.featured.title }}
                <a href="#" data-uk-totop data-uk-scroll="duration: 400" class="uk-float-right uk-margin-small-top"></a>
            </h2>
            {% endif %}
            <ul class="uk-list uk-list-large link-icon-right">
            {% for post in site.tags[page.featured.tag] %}
				{% if post.external_url and post.tags contains "featured promo" %}
				<li><a href="{{ post.external_url }}" style="color:#28A745;">&#9432; {{post.title}}</a></li>
				{% elsif post.external_url %}
				<li><a href="{{ post.external_url }}">{{post.title}}</a></li>
				{% else %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
				{% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <div id="category-section" class="uk-margin-large-top hidden">
            <hr>
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}

            <div id="{{ category_name | slugify }}-container" class="category-container hidden">
                <h2 class="section-title-primary">{{ category_name }}
                    <a href="#" data-uk-totop data-uk-scroll="duration: 400" class="uk-float-right uk-margin-small-top"></a>
                </h2>
                <ul class="uk-list uk-list-large link-icon-right uk-margin-remove">
                {% for post in site.categories[category_name] %}
        					{% if post.external_url and post.tags contains "danger" %}
        					<li data-privacy="{{post.privacy}}"><a href="{{ post.external_url }}" style="color:#DC3545;">&#9432; {{post.title}}</a></li>
        					{% elsif post.external_url and post.tags contains "warning" %}
        					<li data-privacy="{{post.privacy}}"><a href="{{ post.external_url }}" style="color:#FFC107;">&#9432; {{post.title}}</a></li>
        					{% elsif post.external_url and post.tags contains "good" %}
        					<li data-privacy="{{post.privacy}}"><a href="{{ post.external_url }}" style="color:#28A745;">&#9432; {{post.title}}</a></li>
        					{% elsif post.external_url %}
        					<li data-privacy="{{post.privacy}}"><a href="{{ post.external_url }}">{{post.title}}</a></li>
        					{% else %}
                    <li data-privacy="{{post.privacy}}"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}
                  <li class="all-good uk-hidden" style="color:#28A745;">Good work, no privacy gotchas</li>
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% if page.cta %}
<div  class="uk-container uk-container-small"><hr></div>
<div class="uk-section-large uk-text-center">
    <div class="uk-container uk-container-small">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
            <h2 class="section-title-primary">{{ page.cta.title }}</h2>
            {% if page.cta.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.cta.subtitle | escape }}</p>{% endif %}
            <a class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-margin-small-top" href="{{ domain }}{{ page.cta.button_url }}">{{ page.cta.button_text }}</a>
        </div>
    </div>
</div>
{% endif %}
